ul {
   padding: 0px;
}
li {
   padding: 10px;
   text-align: center;
}
h1 {
   text-align: center;
}
div {
   padding: 20px 30px;
}
html, body {
   height: 100%;
}
body {
   display: flex;
   flex-direction: column;
   background: rgb(149, 194, 215);
}

.main-content {
   margin: 20px;
   display: flex;
   flex-direction: row;
}

/* объект с отображением списка задач -----------------------------------------*/
.tasks {
   order: -1;
   border: solid 1px;
   justify-content: center;
}

.task-list {
   height: 80%;
   list-style: none;
   overflow-y: auto;
}

.task-item {
   border: solid 1px;
   width: 150px;
   word-wrap: break-word;
}

/* кнопка для добавления задач, нужно выровнять по центру или по размеру с task-list и task-item */
.add-task {
   width: 150px;
}
/* контейнер внутри котрого будет находится таймер или какой-то другой счетчик */
.timer-container {
   width: 70%;
   padding: 0 20px;
   flex: 1 1 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.timer {
}
/*отображается активная задача в отдельном элементе --------------------------*/
.active-task {
   width: 70%;
   overflow-y: auto;
   border: solid 2px;
   word-wrap: break-word;
}

.timer-buttons {
   padding-top: 20px;
}

.task-description {
   border: solid 1px;
   width: 10%;
}

/* медиазапрос для изменения формата странице на узких экранах
/* нужно заново расписать оображения эл-та задачь, чтобы отображались по всей ширине экрана
/* @media all and (max-width: 789px) {
   .main-content {
      flex-direction: column;
   }
   .tasks {
    order: 2;
   }
} */
