a {
}
ul {
   padding: 0px;
}

li {
   padding: 10px;
   text-align: center;
}
h1 {
   text-align: center;
}

div {
   padding: 20px 30px;
}

html, body {
   height: 100%;
}

body {
   /* display: flex; */
   background: rgb(149, 194, 215);
}

.main-content {
   margin: 20px;
   display: flex;
   flex-direction: row;
}

.tasks {
   /* width: 100px; */
   order: -1;
   border: solid 1px;
   justify-content: center;
}

.task-list {
   height: 70%;
   list-style: none;
   overflow-y: auto;
}

.task-item {
   border: solid 1px;
}

.add-task {
   width: 100%;
}

.timer-container {
   padding: 0 20px;
   flex: 1 1 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.active-task {
   width: 80%;
   border: solid 2px;
}

.timer-buttons {
   padding-top: 20px;
}

.task-description {
   border: solid 1px;
   width: 10%;
}
